---
import Section from "../Section.astro";

import { projects } from "@cv";
---

<Section title="Proyectos">
    <ul>
        {
            projects.map(({ url, description, name }) => {
                return (
                        <article>
                            <header>
                                <a
                                    href={url}
                                    target="_blank"
                                    title={`Ver el proyecto ${name}`}
                                >
                                    <h3>{name}</h3>
                                </a>
                                <p>{description}</p>
                            </header>
                        </article>
                );
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    article {
        border-radius: 8px;
        border: 1px solid gray;
        gap: 16px;
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    article a {
        color: #111;
    }

    article p {
        font-size: 0.75rem;
        line-height: 1.2rem;
        margin-bottom: 4px;
    }

</style>
